@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.otf');
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/ProximaNova-Light.otf');
}

.line-divisor {
	background-color: #1e1f22;
	width: 100%;
	height: 2px;
}

#not-found {
	position: absolute;
	color: #DFE0E6;
	font-family: 'Proxima Nova Light';
	text-align: center;
	font-size: 25px;
	top: 140px;
	left: 45%;
}

#event-container {
	width: 54%;
	position: relative;
	left: 23%;
	margin-top: 0px;
}

#event-banner {
	width: 100%;
	height: 345px;
}

#event-hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 345px;
	text-align: center;
	visibility: hidden;
}

#event-banner:hover #event-hover{
	background-color: rgba(0, 0, 0, 0.5);
	visibility: visible;
}

#event-name {
	font-family: 'Proxima Nova';
	position: relative;
	top: 87%;
	margin-left: 18px;
	color: white;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
	font-size: 32px;
}

#event-info {
	font-family: 'Proxima Nova Light';
	color: #DFE0E6;
	margin-top: 12px;
	padding: 20px;
	width: 65%;
	height: auto;
	max-height: 400px;
	min-height: 131px;
	background-color: #222326;
}

#event-info ul {
	padding: 0;
	margin: 0;
    list-style-type: none;
    text-align: justify;
    text-justify: inter-word;
    overflow: hidden;
    word-spacing: 1.5px;
}

#event-info li img {
	padding-right: 7px;
}

#event-info li:not(:first-child):not(:last-child):not(:nth-last-child(3)) {
	padding-bottom: 9px;
	padding-top: 9px;
}

#event-info li:nth-last-child(3) {
	padding-top: 9px;
	padding-bottom: 16px;
}

#event-info li:first-child {
	padding-bottom: 9px;
}

#event-info li:last-child {
	padding-top: 16px;
}

#event-type {
	position: absolute;
	float: right;
	margin-left: 600px;
	margin-top: 21px;
}

#going-info {
	position: relative;
	font-family: 'Proxima Nova Light';
	color: #DFE0E6;
	float: right;
	margin-top: 12px;
	padding: 20px;
	width: 26.1%;
	height: 134px;
	background-color: #222326;
}

#post-comment-title {
	color: #DFE0E6;
	margin-top: 18px;
	font-family: 'Proxima Nova';
	font-size: 13px;
}

#comment-box {
	font-family: 'Proxima Nova Light';
	font-size: 15px;
	margin-top: 7px;
	padding: 20px;
	width: 65%;
	height: 70px;
	border: none;
	color: #DFE0E6;
	background-color: #222326;
	resize: none;
    outline: none;
}

#comment-box:focus {
	color: #DFE0E6;
	background-color: #38383b;
}

#post-button {
	position: relative;
	left: 62.5%;
	margin-top: 4px;
	height: 24px;
	width: 65px;
	border: none;
	border-radius: 3px;
	color: #636363;
	font-weight: 700;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.17), 0 1px 0 rgba(255, 255, 255, 0.36) inset;
	background: rgb(224, 224, 224);
	background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(206,206,206,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(100%,rgba(206,206,206,1)));
	background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(206,206,206,1) 100%);
	background: -o-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(206,206,206,1) 100%);
	background: -ms-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(206,206,206,1) 100%);
	background: linear-gradient(to bottom,  rgba(224,224,224,1) 0%,rgba(206,206,206,1) 100%);
	cursor: pointer;
	display: none;
}

#post-button:hover {
	background: rgb(216, 216, 216);
	background: -moz-linear-gradient(top,  rgba(216, 216, 216, 1) 0%, rgba(198, 198, 198, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216, 216, 216, 1)), color-stop(100%,rgba(198, 198, 198, 1)));
	background: -webkit-linear-gradient(top,  rgba(216, 216, 216, 1) 0%,rgba(198, 198, 198, 1) 100%);
	background: -o-linear-gradient(top,  rgba(216, 216, 216, 1) 0%,rgba(198, 198, 198, 1) 100%);
	background: -ms-linear-gradient(top,  rgba(216, 216, 216, 1) 0%,rgba(198, 198, 198, 1) 100%);
	background: linear-gradient(to bottom,  rgba(216, 216, 216, 1) 0%,rgba(198, 198, 198, 1) 100%);
}

#comments-title {
	color: #DFE0E6;
	font-family: 'Proxima Nova';
	margin-top: 15px;
	font-size: 13px;
}

.comment-container {
	font-family: 'Proxima Nova Light';
	color: #DFE0E6;
	margin-top: 7px;
	padding: 10px;
	width: 66.9%;
	height: auto;
	max-height: 700px;
	min-height: 120px;
	background-color: #222326;
	margin-bottom: 15px;
}

.user-avatar {
	width: 60px;
	height: 60px;
	float: left;
	background: url("../images/avatar.jpg") 50% 50% no-repeat;
	background-size: cover;
	border-radius: 50%;
	margin-top: 5px;
	left: 50%;
}

.username {
	font-family: 'Proxima Nova';
	font-size: 18px;
	position: relative;
	left: -60.5%;
	float: right;
	margin-top: 4px;
}

.comment-date {
	font-family: 'Proxima Nova Light';
	font-size: 12px;
	padding-left: 5px;
	color: white;
}

.comment {
	font-family: 'Proxima Nova Light';
	margin-top: 33px;
	margin-left: 74px;
	padding-bottom: 4px;
	font-size: 16px;
}