@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.otf');
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/ProximaNova-Light.otf');
}

#user-upcoming-events-container {
	width: 54%;
	height: 345px;
	position: relative;
	left: 23%;
	margin-top: 25px;
	z-index: 3;
}

#upcoming-events-title, #all-events-title {
	color: #DFE0E6;
	font-family: 'Proxima Nova Light';
	font-size: 32px;
}

.no-upcoming-events {
	position: absolute;
	color: #DFE0E6;
	font-family: 'Proxima Nova Light';
	text-align: center;
	font-size: 25px;
	top: 115px;
	left: 33%;
}

.line-divisor {
	background-color: #1A1B1D;
	width: 100%;
	height: 2px;
	margin-top: 10px;
	margin-bottom: 17px;
}

.event-container {
	position: relative;
	background-color: #222326;
	width: 23.5%;
	height: 265px;
	white-space: nowrap;
	float: left;
}

.event-container:not(:last-child) {
	margin-right: 20px;
}

.event-banner {
	width: 100%;
	height: 170px;
}

.event-hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 170px;
	text-align: center;
	visibility: hidden;
}

.event-banner:hover .event-hover{
	background-color: rgba(0, 0, 0, 0.8);
	visibility: visible;
}

.event-hover img {
	position: relative;
	top: 41%;
	margin-left: 30px;
	margin-right: 30px;
}

.event-hover img:hover {
	-webkit-filter: brightness(180%);
	filter: brightness(180%);
}

.event-type {
	position: absolute;
	float: right;
	margin-left: 212px;
	margin-top: 5px;
}

.event-date {
	font-family: 'Proxima Nova Light';
	font-size: 14px;
	color: #88898C;
	padding: 7px;
	padding-top: 10px;

}

.event-name {
	white-space: normal;
	overflow: hidden;
}

.event-name a {
	font-size: 16px;
	padding-left: 7px;
	padding-right: 7px;
	color: #DFE0E6;
	height: 34px;
	overflow: hidden;
	text-decoration: none;
}
.event-name a:hover {
	text-decoration: underline;
}

.event-location {
	font-family: 'Proxima Nova Light';
	font-size: 14px;
	color: #88898C;
	padding-left: 7px;
	padding-top: 21px;
	padding-right: 7px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#upcoming-events-container {
	width: 54%;
	height: 345px;
	position: relative;
	left: 23%;
	margin-top: 17px;
	z-index: 3;
}