html, body {
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	width: 100%;
	min-width: 850px;
	margin: auto;
	padding: 0;
}

#header {
	position: relative;
 	top: 0px;
 	left: 0px;
 	width: 100%;
	background-color: #F5F5F5;
	box-shadow: 1px 0px 3px #888888;
	height: 49px;
	overflow: hidden;
	z-index: 0;
}

#logout-button {
	margin-top: 17px;
	float: right;
	position: relative;
	right: 20%;
	z-index: 1;
}

#logout-button:hover {
	content: url('../images/logoutHover.png');
}

#username {
	position: relative;
	float: right;
	right: 20%;
	color: #333333;
	margin-top: 15.5px;
	margin-right: 7px;
	text-decoration: none;
	color: #333333;
	font-weight: bold;
	z-index: 1;
}

#username:hover {
	color: #FF9800;
}

#site-logo {
	margin-top: 9px;
	margin-right: 9px;
	float: left;
	position: relative;
	left: 20%;
}

#site-logo:hover {
	content: url('../images/logoHover.png');
}

#search-bar {
	float: left;
	position: relative;
	left: 20%;
	top: 9.4px;
	z-index: 2;
}

#search-box {
	height: 27px;
	width: 330px;
	top: 50%;
	padding-left: 9px;
	border-width: thin;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	border: solid 1px #E3E3E3;
	border-radius: 3px;
	background-image: url("../images/mglass1.png");
	background-size: 15px 15px;
	background-position: left center;
	background-position: 7px;
    background-repeat: no-repeat;
    text-indent: 20px;
}

#add-event {
	position: relative;
	width: 60%;
	height: 100px;
	top: 6%;
	left: 20%;
	background-color: #FAFAFA;
	/*border: solid 1px #efefef;*/
	box-shadow: 0px 0px 1px #888888;
	text-align: center;
	display: table;
}

#add-event-button {
	display: table-cell;
   	vertical-align: middle;
}