@font-face {
  font-family: 'Benton Sans';
  src: url('../fonts/BentonSans-Regular.otf');
}

html, body {
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Benton Sans';
	height: 100%;
	width: 100%;
	min-width: 1000px;
	margin: auto;
	padding: 0;
}

#header {
	position: relative;
 	top: 0px;
 	left: 0px;
 	width: 100%;
	background-color: #F5F5F5;
	box-shadow: 1px 0px 3px #888888;
	height: 49px;
	overflow: hidden;
	z-index: 0;
}

#logout-button {
	margin-top: 17px;
	float: right;
	position: relative;
	right: 25%;
	z-index: 1;
}

#logout-button:hover {
	content: url('../images/logoutHover.png');
}

#username {
	position: relative;
	float: right;
	right: 25%;
	color: #333333;
	margin-top: 15.5px;
	margin-right: 7px;
	text-decoration: none;
	font-weight: bold;
	z-index: 1;
}

#username:hover {
	color: #595959;
}

#site-logo {
	margin-top: 9px;
	margin-right: 9px;
	float: left;
	position: relative;
	left: 25%;
}

#site-logo:hover {
	content: url('../images/logoHover.png');
}

#search-bar {
	float: left;
	position: relative;
	left: 25%;
	top: 9.4px;
	z-index: 2;
}

#search-box {
	height: 27px;
	width: 330px;
	top: 50%;
	padding-left: 9px;
	border-width: thin;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Benton Sans';
	border: solid 1px #E3E3E3;
	border-radius: 3px;
	background-image: url("../images/mglass1.png");
	background-size: 15px 15px;
	background-position: left center;
	background-position: 7px;
    background-repeat: no-repeat;
    text-indent: 20px;
}

#add-event {
	position: relative;
	width: 50%;
	height: 100px;
	left: 25%;
	margin-top: 15px;
	background-color: #FAFAFA;
	box-shadow: 0px 0px 1px #888888;
	text-align: center;
	display: table;
}

#add-event-button {
	display: table-cell;
   	vertical-align: middle;
   	color: #636363;
   	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
}

#add-event:hover {
	background-color: #F2F2F2;
}

#dim {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 100;
}

#add-event-form {
	position: relative;
  	margin-left: auto;
  	margin-right: auto;
	margin-top: 13px;
	width: 28%;
	height: 350px;
	box-shadow: 0px 0px 1px #888888;
	display: none;
	z-index: 101;
	background-color: white;
}

#field-name {
	position: relative;
	float: left;
	left: 4%;
	font-size: 14.5px;
	top: 3%;
}

#data-field {
	position: relative;
	float: right;
	right: 8%;
}

#field-name ul, #data-field ul{
	list-style-type: none;
}

#field-name li {
	text-align: right;
	padding-bottom: 23px;
	padding-right: 7px;
}

#field-name li:last-child {
	padding-top: 42px;
}

#data-field li:not(:last-child) {
	text-align: left;
	padding-bottom: 7px;
}

#name, #location, #date, #time, #description, #type {
	padding-left: 7px;
}

#name, #location, #type {
	height: 27px;
	width: 330px;
}

#date {
	height: 27px;
	margin-right: 6px;
}

#time {
	height: 27px;
}

#description {
	width: 330px;
	height: 70px;
	padding-top: 7px;
	resize: none;
	font-family: 'Benton Sans';
}

#create-button {
	position: relative;
	float: right;
	height: 30px;
	width: 80px;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

#create-button:hover {
	background-color: #F6F6F6;
}