@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.otf');
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/ProximaNova-Light.otf');
}

#settings-container {
	width: 54%;
	height: 345px;
	position: relative;
	left: 23%;
	margin-top: 45px;
	z-index: 3;
}

#settings {
	font-family: 'Proxima Nova Light';
	color: #DFE0E6;
	font-size: 15px;
}

#avatar {
	border-radius: 50%;
	height: 150px;
	width: 150px;
	position: relative;
	left: 42.5%;
}

#avatar-hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	text-align: center;
	visibility: hidden;
}

#avatar:hover #avatar-hover {
	background-color: rgba(0, 0, 0, 0.7);
	visibility: visible;
}

#avatar-hover img {
	position: relative;
	top: 38.9%;
	margin-left: 30px;
	margin-right: 30px;
	cursor: pointer;
}

#avatar-hover img:hover {
	-webkit-filter: brightness(180%);
	filter: brightness(180%);
}

#upload-avatar {
	display: none;
}

#change-username, #change-email, #change-password {
	position: relative;
	left: 27%;
	width: 460px;
	height: 40px;
	font-size: 28px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #121314;
	border: none;
	outline: none;
	color: #DFE0E6;
	font-family: 'Proxima Nova Light';
	text-align: center;
}

#change-username {
	margin-top: 28px;
}

#change-email, #change-password {
	margin-top: 5px;
}

#change-username:focus, #change-email:focus, #change-password:focus {
	background-color: #38383b;
}

#save-button {
	position: relative;
	left: 45%;
	width: 100px;
	height: 43px;
	margin-top: 12px;
	font-family: 'Proxima Nova Light';
	font-size: 28px;
	background-color: #121314;
	color: #DFE0E6;
	border: none;
	outline: none;
}

#save-button:hover {
	cursor: pointer;
	background-color: #38383b;
}